<nav class="navbar navbar-expand-lg navbar-light bg-light" id="artist-navbar" style="background-image: url('/assets/artist_show_dark.png');background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        
        <div class='artist-title'>
		    	<%= @artist.name %>
		    </div>

		    

		    <div class="artist-text pad10-top pad10-bottom">
					<%= @artist.description %>
				</div>

				<%= link_to 'Listen on Spotify', root_path %>

		
      </div>
    </div>
  </div>
</nav>
