<nav class="navbar navbar-expand-lg navbar-light bg-light" id="artist-navbar" style="background-image: url('/assets/artist_show_dark.png');background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        
        <div class='artist-title'>
		    	<%= @artist.name %>
		    </div>

		    <div class="artist-text pad10-top pad10-bottom">
					<%= @artist.description %>
				</div>

				<div class="artist-text pad10-top pad10-bottom">
					<% @artist.links.each do |link| %>
						<div class="row">
      				<div class="col-12">
								<%= link_to link.url, link.url %>
							</div>
						</div>
					<% end %>
				</div>

				<div class="artist-text pad10-top pad10-bottom">
					Upvote Artist
				</div>

				<%= link_to 'Follow', user_favorites_path(artist_id: @artist.id), method: :post, class: 'follow-link' %>

		
      </div>
    </div>
  </div>
</nav>
