<nav class="navbar navbar-expand-lg navbar-light bg-light" id="artist-actions-navbar">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        &nbsp;

        <div class="card secondary-backing pad20-bottom">
			    <div class="dropdown">
					  <button class="btn btn-danger dropdown-toggle btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    UPCOMING EVENTS
					  </button>
					  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width:100%;">
							<%= link_to 'UPCOMING EVENTS', artist_upcoming_events_path(id: @artist.id), remote: true, class: 'dropdown-item' %>
							<%= link_to 'PAST EVENTS', artist_past_events_path(id: @artist.id), remote: true, class: 'dropdown-item' %>
					  </div>
					</div>
				</div>
        
      </div>
    </div>
  </div>
</nav>



