<%= render partial: 'artists/partials/artist_header' %>
<%= render partial: 'artists/partials/artist_actions_header' %>


<div class="container pad40-top">

	<div class="row">
		<div class="col-sm-12">
			
			
		</div>
	</div>

</div>
