<%= render partial: 'events/partials/event_header' %>
<%= render partial: 'events/partials/event_actions_header' %>


<div class="container pad40-top">
	<% @event.artists.each do |artist| %>
		<div class="row">
			<div class="col-sm-12">
				<h3><%= link_to artist.name, artist_path(artist), class: 'artist-show' %></h3>
				<%= link_to 'Follow', root_path %>
			</div>
		</div>
	<% end %>
</div>


