<%= render partial: 'events/partials/event_header' %>
<%= render partial: 'events/partials/event_actions_header' %>


<div class="container pad20-top">
	<div class="row">
		<div class="col-sm-12">
			<h3><%= @event.artist.name %></h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h5><%= @event.artist.description %></h5>
		</div>
	</div>
</div>


