.artist-title {
  font-size: 56px;
  color: white;
}

.artist-text {
  color: white;
}


/* support navbar on homepage */
#artist-navbar.navbar {
  min-height: 300px;
}

#artist-navbar.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

#artist-navbar.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  #artist-navbar.navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}


#artist-actions-navbar.navbar {
  min-height: 80px;
}

#artist-actions-navbar.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

#artist-actions-navbar.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  #artist-actions-navbar.navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}







