.event-banner {
	width: 100%;
}

.event-title {
	font-size: 28px;
	color: white;
}

.event-text {
	color: white;
}

.event-title-show {
	font-size: 48px;
	color: white;
}

.event-text-show {
	font-size: 22px;
	color: white;
}


.carousel-image {
	height: 320px;
	width: 100%;
}


/* support navbar on homepage */
#event-navbar.navbar {
  min-height: 300px;
}

#event-navbar.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

#event-navbar.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  #event-navbar.navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}


#event-actions-navbar.navbar {
  min-height: 80px;
}

#event-actions-navbar.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

#event-actions-navbar.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  #event-actions-navbar.navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

