.event-image {
	background-image: image-url('event_banner.png');
}

.artist-profile {
	background-image: image-url('artist_profile.png');
}

.event-image-banner {
	background-image: image-url('event_show.png');
}