.event-image {
	background-image: image-url('event_banner.png');
}

.artist-profile {
	background-image: image-url('artist_profile.png');
}

.event-image-banner {
	background-image: image-url('event_show.png');
}

.venue-image-banner {
	background-image: url('venue_show.png');
}

.user-profile-banner {
	background-image: url('user_profile_show.png');
}



