.pad5-top { 
	margin-top:5px; 
}

.pad10-top { 
	margin-top:10px; 
}

.pad15-top { 
	margin-top:15px; 
}

.pad20-top { 
	margin-top:20px; 
}


.pad5-bottom { 
	margin-bottom:5px; 
}

.pad10-bottom { 
	margin-bottom:10px; 
}

.pad15-bottom { 
	margin-bottom:15px; 
}

.pad20-bottom { 
	margin-bottom:20px; 
}


