<div class="carousel-item active">
  <%= image_tag 'featured_event2.png', class: 'carousel-image' %>
</div>
<div class="carousel-item">
  <%= image_tag 'featured_event1.png', class: 'carousel-image' %>
</div>
<div class="carousel-item">
  <%= image_tag 'featured_event3.png', class: 'carousel-image' %>
</div>