<nav class="navbar navbar-expand-lg navbar-light bg-light" id="event-actions-navbar">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <%= link_to 'Buy Tickets', root_path %>
        <%= link_to 'Upvote', root_path %>
        <%= link_to 'RSVP', new_user_rsvp_path(event_id: @event.id) %>
      </div>
    </div>
  </div>
</nav>



