<nav class="navbar navbar-expand-lg navbar-light bg-light" id="event-actions-navbar">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <%= link_to 'Buy Tickets', root_path %>
        <%= link_to 'Upvote Event', votes_path(event_id: @event.id), method: :post %>
        <%= link_to 'RSVP', new_user_rsvp_path(event_id: @event.id) %>
				<%= link_to 'Favorite', user_favorites_path(event_id: @event.id), method: :post %>
      </div>
    </div>
  </div>
</nav>



