<div id="footer-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<div class="pad20-top pad20-bottom">
					<h6>LATEST FROM CITY-GO</h6>
				</div>
			</div>
			<div class="col-sm-12 col-md-4">
				
				<div class="pad20-top pad20-bottom">
					<h6>FEATURED STUFF</h6>
				</div>

			</div>
			<div class="col-sm-12 col-md-4">
				
				<div class="pad20-top pad20-bottom">
					<h6>FIND US ON THE WEB</h6>
				</div>

			</div>
		</div>
	</div>
	<div class="container">

		<div class="row">
		  <div class="col-sm-12 offset-sm-8">
		  	<div class="pad20-top pad20-bottom">
					<p>© 2018 CITY-GO ALL RIGHTS RESERVED</p>
				</div>
		  </div>
		</div>
	</div>

</div>