<nav class="navbar navbar-expand-lg navbar-light bg-light" id="support-navbar">
  <div class="container">
    <div class="row">
    
      <h5 class="pad30-top" style="margin-left: 45px;margin-right: 15px;">Events in Chicago</h5>
 
      <div class="card secondary-backing pad20-top pad20-bottom">
		    <div class="dropdown">
				  <button class="btn btn-warning dropdown-toggle btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    TOMORROW
				  </button>
				  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width:100%;">
						<%= link_to 'TODAY', root_path, class: 'dropdown-item' %>
						<%= link_to 'TOMORROW', tomorrows_events_path, class: 'dropdown-item' %>
				  </div>
				</div>
			</div>
    
    </div>
  </div>
</nav>

