<nav class="navbar navbar-expand-lg navbar-light bg-light" id="support-navbar">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5>What to do in (Dropdown for selecting city) Today</h5>
      </div>
    </div>
  </div>
</nav>



